@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

:root{

  /* COLORES */
  --color-primary:#1F3A5F;      /* Azul acero */
  --color-secondary:#6E6E6E;    /* Gris metálico */
  --color-accent:#F5A623;       /* Naranja industrial */
  --color-accent-2:#FFC107;     /* Amarillo industrial */
  --color-white:#FFFFFF;
  --color-background:#14181e;

  /* TIPOGRAFIA */
  --font-title:"Syne", sans-serif;
  --font-body:"Inter", sans-serif;

}

/* ESTILOS GENERALES */

body{
  font-family:var(--font-body);
  background:#0f172a;
  color:var(--color-white);
  background: var(--color-background);
}

/* TITULOS */

h1,h2,h3,h4{
  font-family:var(--font-title);
  font-weight:600;
}

/* LINKS */

a{
  text-decoration:none;
  color:inherit;
}

/* LISTAS */

ul{
  list-style:none;
}

/* BOTONES GENERALES */

button{
  font-family:var(--font-body);
  background:var(--color-accent);
  border:none;
  padding:10px 20px;
  color:white;
  font-weight:500;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:var(--color-accent-2);
}
